@import 'normalize';
@import 'variables';
@import 'utils';
@import 'grid';


body{
    .gridrow{
        display: flex;
        flex-wrap: wrap;
        width: $gridwidth;

        @for $i from 1 through $gridcolumns{
            .col-#{$i} {
                box-sizing: border-box;
                width: percentage($i/$gridcolumns);
                padding-left: $gridgutter / 2;
                padding-right: $gridgutter / 2;
            }
        }   
    
        @media(min-width: $tablet){
            @for $i from 1 through $gridcolumns{
                .col-t-#{$i} {
                    box-sizing: border-box;
                    width: percentage($i/$gridcolumns);
                    padding-left: $gridgutter / 2;
                    padding-right: $gridgutter / 2;
                }
            }    
        }
    
        @media(min-width: $desktop){
            @for $i from 1 through $gridcolumns{
                .col-d-#{$i} {
                    box-sizing: border-box;
                    width: percentage($i/$gridcolumns);
                    padding-left: $gridgutter / 2;
                    padding-right: $gridgutter / 2;
                }
            } 
        }
    }      
}   