@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;400&display=swap');
html,
body {
    margin: 0;
    padding: 16px;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
th {
    background-color: gainsboro;
    padding: 12px 0;
    text-indent: 12px;
}
td {
    border: 1px solid gainsboro;
    padding: 12px 0;
    text-indent: 12px;
}