

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;400&display=swap');

html, body {
  margin: 0;
  padding: 16px; 
  background-color: white;
  box-sizing: border-box;
  font-family: 'Noto Sans Display', sans-serif;
}
​
table {
  width: 100%;
  border-collapse: collapse;
}
​
tr:first-of-type {
  margin: 0 0 12px 0;
}
​
span {
  background-color: blue;
  padding: 2px 8px;
  border-radius: 50%;
  color: white;
}
​
th {
  height: 40px;
  width: 80px;
  text-align: left;
  text-indent: 8px;
   font-weight: 100;
}
​
td {
  height: 76px;
  width: 76px;
  border: 1px solid gainsboro;
  text-indent: 8px;
  vertical-align: top;
  padding: 8px;
  margin: 4px;
  font-size: 1.2rem;
  font-weight: 600;
}
​
td.today  {
  background-color: blue;
  color: white;
}
​
td:hover {
  cursor: pointer;
  background-color: orange;
  transition: all .4s;
}
Recolher





Enviar uma mensagem para m2-html5









