@import 'variables';
@import 'grids';
@import 'mixins';
@import 'font';



.main{
    position: relative;
    background-image: url("./imgs/projeto01.jpg");
    background-position: center;
    background-size: cover;
    height:100%;   
}

.main1{
    background-color: black;
}



input[type="checkbox"]{
    display: none;
}

nav{
    transition: top  0.4s ease;
    z-index: 999;
    width:100%;
    height: 100vh;
    top: -100vh;
    position: fixed;
    background-color: #232323;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    ul{
        li{
            margin: 0 0 40px 0;
        }
    }
}

input[type="checkbox"]:checked ~ nav{
    top: 0;
}

header{
    @include flex(row, space-between, nowrap);
    z-index: 1000;
    background-color: rgba(#232323, 0.6);
    width:100%;
    position:fixed;
    padding: 40px 0 !important;

}
.background{
    height: 100vh;
    .paragraph{
        margin-top:auto;
    }
}
.matrix{
    flex-direction: column;
    .card{
        position:relative;
        margin-bottom: $gridgutter;
        overflow: hidden;
        .imgfit{
            display: block;
            width: 100%;
            height: auto;
            &:hover{
                cursor: pointer;
                transform: scale(1.5);
            }
        }
        .card-header{
            padding: $gridgutter;
            position:absolute;
            top:0;
        }
    }
}

.categories{
    padding-top: $gridgutter * 6;
    padding-bottom: $gridgutter;
}

.sub-category{
    flex-direction: column;
    .sub-category-img{
        position:relative;
        margin-bottom: $gridgutter;
        overflow: hidden;
        .imgfit{
            display: block;
            width: 100%;
            height: auto;
            &:hover{
                cursor: pointer;
                transform: scale(1.5);
            }
        }

    }
    .sub-category-header{
        padding: $gridgutter 0 !important;
    }
    .sub-category-sub-header{
        padding: $gridgutter 0 !important;
    }
    .sub-category-content{
        padding: $gridgutter 0 !important;
    }
}

.np{
    .np-item{
        .np-item-organize{
            padding-top: $gridgutter;
            padding-bottom: $gridgutter * 2;
        }
    }
}

.footer{
    height: 40px;
}